.header {
    padding: 20px 0;
    background: #f8f8f8;
    box-shadow: 5px 3px 8px #ccc;
    z-index: 1;
    position: fixed;
    width: 100%;
}

.site-logo img {
    width: 150px;
}

.left-navbar {
    background: #f8f8f8;
    width: 240px;
    height: 100%;
    position: fixed;
    margin: 75px 0 0;
}

.left-navbar .nav-link {
    background: #f2f2f2;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 20px;
    color: #000;
}

.nav-link.active {
    background: #ddd;
}

.right-content {
    padding: 75px 0 0 240px;
}

.inner-wrapper {
    padding: 30px 40px 40px;
}

.form-control.textarea {
    min-height: 100px;
}

.form-table-content {
    margin-top: 50px;
}

.form-table-content table {
    width: 100%;
}

.form-table-content th {
    background: #f2f2f2f2;
    border: 1px solid #b6b7b7;
    padding: 10px 20px;
}

.form-table-content tbody td {
    border: 1px solid #b6b7b7;
    padding: 15px 20px;
}

.form-table-content .avatar-img {
    width: 25px;
    border-radius: 50%;
}

.form-table-content tbody td i.fas {
    margin-right: 10px;
}